@base-color: #555;

#station-editor {
  padding: 10px 15px;
  .station-header {
    background-color: #438EB9;
    color: #FFF;
    font-size: 14px;
    line-height: 38px;
    padding-left: 12px;
    clear: right;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .station-body {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #EFF3F8;
  }

  .btn-center {
    text-align: center;
  }

  .margin-top {
    margin-top: 30px;
  }

  .btn-save {
    width: 200px;
    height: 35px;
  }

  .city {
    display: inline;
  }

  .city {
    width: 80%;
    margin-right: 7px;
  }

  .error-tip1 {
    padding-left: 10px;
    margin-bottom: 10px;
    color: red;
  }

  .error-tip2 {
    color: red;
    margin-left: 18%;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .no-margin-form {
    margin-bottom: 3px;
  }
}